<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.shaga_workshop.bcore_lib">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-features android:name="android.hardware.bluetooth_le" android:required="true" />

    <service
        android:name=".BcoreControlService"
        android:enabled="true" />

</manifest>
